.card {
    user-select: none;
    margin: 1em .5em;
    background-color: #F5F5F5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 3px 13px -2px rgba(0,0,0,0.75);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.cardHeaderBackground {
    background-color: lightgrey !important;
    border-radius: 5px 5px 0 0 !important;
}
.cardHeader {
    color: black;
    padding: .5em .25em;
    font-weight: 400;
}
.description {
    color: black;
    font-weight: 200;
    flex: 1;
}
.transparentbutton {
    background-color: transparent;
}
